/*========================================================
                        geral                             
=========================================================*/
html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: calc(12px + 0.390625vw);
}

section h2 {
    text-align: center;
    font-size: 0.9rem;
    padding: 9px 0 5px 0;
}



